body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    height: auto;
    background-image:
        linear-gradient(to bottom, rgba(255, 255, 255, 0.157), rgba(0, 0, 0, 0), rgb(255, 255, 255)),
        url(Background.png);
    background-repeat: no-repeat;
    background-position: center top, center bottom;
    background-size: cover;
    backdrop-filter: blur(3px);

}

.profile-container {
    max-width: 800px;
    margin:  auto;
    padding: 20px;

}

#confirm-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: right;
}

#main-topic{
    text-align: center;
    margin-top: 120px;
}

.progress-bar {
    position: relative;
    background-color: #f0f0f0;
    border-radius: 9px;
    margin-bottom: 20px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
}

.progress {
    background-color: #7cb082;
    height: 20px;
    border-radius: 9px;
    width: 0;
}

.prompt {
    margin-bottom: 10px;
}

.profile-item {
    margin-bottom: 10px;
}

#button-container {
    text-align: right;
    padding-right: 5%;
}

.Outputs {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 5%;
    border-radius: 10px;
    margin: 10px;
}

#prompt-container {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 5%;
    margin: 10px;
}

.PromptBar {
    width: 90%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border-width: 0px;
    height: 25px;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.171));
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
}

.PromptLabel {
    display: flex;
    text-align: center;

}

.Buttons {
    text-align: right;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    background: white;
    filter: drop-shadow(0 4px 1px rgba(0, 0, 0, 0.111));
    border-width: 0;
    transition: transform 0.3s ease-in-out;

}

.Buttons:hover {
    transform: scale(1.1);
}


#backButton:disabled,
#nextButton:disabled,
#skipButton:disabled {
    background-color: #e2e2e2;
    color: #00000094;
    cursor: not-allowed;
}

#question-part-details {
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: rgba(255, 255, 255, 0.4);
    padding-left: 5%;
    border-radius: 10px;
    margin: 10px;
}

.profile-topic {
    color: rgb(45, 60, 52);
}

#profilePart-text {
    text-indent: 2%;
    margin-top: 5px;
}

#select-prompt {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;

}