@import url(shop.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page_body {
  position: relative;
  display: flex;
  /* margin-top: 90px; */
  flex-direction: column;
  height: 100vh;
}

footer {
  margin-top: auto;
  bottom: 0;
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  max-width: 1100px;
  padding: 2rem;
  color: black;

  margin-top: 150px;

  margin-left: auto;
  margin-right: auto;
}

.checkout-header {
  /* display: flex;
  flex-direction: column; */
  /* width: 100vw; */
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 15px 15px -10px rgba(213, 217, 217, 0.5);
}
.checkout-title {
  display: flex;
  justify-content: center;
}
.checkout-title span {
  font-size: 1.5rem;
  font-weight: 900;
}

/* .line {
  height: 5px;
  width: 100%;
  background-color: black;
} */

.checkout-grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.field {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.field span {
  margin-right: 1rem;
  margin-left: 0.5rem;
}

.field label {
  display: flex;
  align-items: center;
}

.company-name label {
  margin-right: 1.5rem;
}

.name {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.first-name input,
.last-name input {
  margin-top: 0.5rem;
}

.first-name span,
.last-name span {
  margin-left: 0.5rem;
}

.important {
  color: red !important;
  display: inline;
  float: none;
}

.field-set {
  width: 100%;
}

button[type="button"] {
  padding: 0.5rem;
  font-size: 0.9rem;
  font-weight: 900;
}

.button {
  margin-left: auto;
  width: 59.39px;
  border-radius: 8px;
}
.button-primary {
  font-weight: 500;
  letter-spacing: 2px;
}
/* .form-div {
  padding: 2rem;
  background-color: rgb(229, 255, 0);
} */
/* .pay-summary-div {
  padding: 2rem;
  background-color: blue;
  margin-left: 1rem;
} */

.payment-summary,
.form-div {
  border: 1px solid rgb(222, 222, 222);
  border-radius: 5px;
  padding: 2rem;
}

input {
  border: 1px solid rgb(222, 222, 222);
  border-radius: 5px;
  padding: 0.3rem;
  margin: 0;
}
/* .payment-summary {
  padding-bottom: 5px;
} */
.payment-summary {
  margin-left: 1rem;
  margin-bottom: auto;
}

.form div label {
  font-size: 1rem;
  font-weight: 100;
}

.bill-topic {
  font-size: 1.5rem;
  font-weight: 600;
}

.payment-summary-title,
.form-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12px;
}

.payment-summary-row {
  display: grid;
  /* 1fr auto; means the width of the 2nd column will be
     determined by the elements inside the column (auto).
     The 1st column will take up the remaining space. */
  grid-template-columns: 1fr auto;

  font-size: 15px;
  margin-bottom: 9px;
}
.payment-summary-money {
  font-weight: 400;
  color: #a52a2a;
  text-align: right;
}

@media (max-width: 1000px) {
  .checkout-grid {
    grid-template-columns: 1fr;
  }
  .payment-summary {
    /* grid-row: 1 means this element will be placed into row
      1 in the grid. (Normally, the row that an element is
      placed in is determined by the order of the elements in
      the HTML. grid-row overrides this default ordering). */
    grid-row: 1;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-top: 1rem;
  }
}

.place-order-button {
  display: none;
}
@media (max-width: 415px) {
  .footer p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.7rem;
  }
}

/* @media (max-width: 575px) {
}

@media (max-width: 800px) {
}

@media (max-width: 450px) {
}

@media (max-width: 800px) {
}

@media (max-width: 450px) {
} */

.credit-card-form {
  margin-top: 1rem;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 5px;
  padding: 1rem;
  display: none;
  height: auto;
  margin-top: 0;
}
.credit-card-form form {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.expire-cvc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.card-num {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem;
}

.credit-card-form h2 {
  text-align: center;
}

.expire {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.cvc {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.credit-card-form button {
  background-color: #27ae60;
  border-radius: 8px;
}

#receipt {
  display: none;
  border-radius: 5px;
  border: 1px solid rgb(222, 222, 222);
  padding: 2rem;
}

.payment-summary {
  display: none;
}
