:root {
  --primaryColor: #ffb534;
  --mainWhite: rgb(251, 246, 238);
  --mainGreen: #27ae60;
  --subGreen: #c1f2b0;
  --mainSpacing: 0.1rem;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
}

* {
  text-decoration: none;
  transition: all 0.2s linear;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.Cart-Search {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  margin-top: 90px;
  margin-left: auto;
  z-index: 998;
  background-color: #fff;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
  align-items: center;
  z-index: 998;
}

.icons button,
.icons a {
  cursor: pointer;
  height: 3rem;
  line-height: 3rem;
  width: 3rem;
  text-align: center;
  font-size: 1.7rem;
  color: var(--mainGreen);
  border-radius: 50%;
  background: #eee;
}

.icons a:focus,
.icons #search-icon:focus {
  color: #fff;
  background: var(--mainGreen);
  transform: rotate(360deg);
}
