body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 800px;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.Profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
#profile-picture {
    width: 150px;
    height: auto;
    border-radius: 20px;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.568));
    margin-right: 150px;
}


.Name h1 {
    margin: 0;
    color: #333;
}
#profile-details-container{
    margin-right: 150px;
}
#profile-details {
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
}
.sub-topic {
    font-weight: bold;
    color: #555;
}
.ans {
    color: #777;
}
.details-container {
    z-index: 99;
    background-color: #e2e2e2;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
}

.Topic {
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}
.Task {
    color: #424242;
    margin-bottom: 8px;
    font-weight: bold;
}
.Task-details {
    margin-left: 20px;
    color: #555;
}
.button-link {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.button-image {
    margin-top: 20px;
    display: block;
    width: 100%; 
    height: auto; 
    border-radius: 15px;
    transition: 0.3s ease-in-out;
}
.button-image:hover{
    transform: scale(1.04);
}

.button-text {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 16px; 
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); 
}